
<% @devices.each do |device| %>

    <% if @propio==0 %>
        Dispositivo compartivo por:
        <%=  User.find(device.user_id).name %><br>
    <% end %>

    <%= device.name = nil ? "" : device.name %> <%= " (" + device.imei.to_s + ")" %>
    <% if @propio==1 %>
    <%= link_to 'Change name', edit_device_path(device) %> <%= link_to("Delete device", device_path(device), :data => { :confirm => "Are you sure?" }, :method => :delete)  %></td> </td>
    <% end %>
    <%
       if params[:m].present?
         @puntos = Point.where('device_id=?',device.id).where('created_at >= ?',params[:m].to_f.minutes.ago).order("created_at desc")
       else

         @puntos = Point.where('device_id=?',device.id).where('created_at >= ?',120.minutes.ago).order("created_at desc")

       end
       if !@puntos.first.present?
         @puntos = Point.where('device_id=?',device.id).limit(1)
       end
       @PuntosCada = @puntos.map { |i| [i[:latitude], i[:longitude]] }

       a=Polylines::Encoder.encode_points(@PuntosCada)

    %>

    <br>

    <% if @puntos.first.present? %>



        <br>
        Last point: <%= Time.at(@puntos.first.created_at)%>
        <%= "(" + time_ago_in_words(Time.at(@puntos.first.created_at)) + " ago)"%>

   <br>
        <%= link_to 'details', device %> <br>
        <br>
        <img src="http://maps.googleapis.com/maps/api/staticmap?sensor=true&size=250x250&markers=color:blue%7Clabel:S%7C<%= @puntos.first.latitude.to_s %>,<%= @puntos.first.longitude.to_s%>&path=weight:3%7Ccolor:0x0000ff%7Cenc:<%=a%>">
        <br>
        <% if @propio ==1 %>


            <% @cmp = Shared.where("device_id = ?",device.id.to_s)
               if @cmp.first.present? %>
                Lista de compartidos<br>
                <%
                  @cmp.each do |c| %>
                    <%= User.find(c.user_shared).name %> <%= link_to "Dejar de compartir", "devices/stopsharing?device_id=" + c.device_id.to_s + "&user_shared=" + c.user_shared.to_s  %> <br>
                  <% end
               end
               %>

            <h4>Compartir con otro usuario </h4>    <br>
            <%= form_tag "/devices/share" do %>
                <%= text_field_tag "email", "" %>
                <%= hidden_field_tag 'device', device.id %>
                <%#= link_to 'submit', "/devices/share", :onclick => "$('#form_id').submit()" %>
                <%= submit_tag "Share !" %>
            <% end %>

        <% end %>




    <% else %>
        No hay puntos aun
    <% end %>
*********************************************<br>
<% end %>